DJANGO_DEBUG=True
DJANGO_SECRET_KEY=cambia_esta_clave_en_produccion
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_COOKIES=False
DJANGO_HSTS_SECONDS=0

POSTGRES_DB=BaseDatosPozoArenilla
POSTGRES_USER=postgres
POSTGRES_PASSWORD=cambia_esta_contrasena
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SESION_INACTIVIDAD_MINUTOS=30

DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_NAME=
DJANGO_SUPERUSER_PASSWORD=

OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODELO_GUIA=deepseek-r1:8b
OLLAMA_TIMEOUT_SEGUNDOS=180
OLLAMA_KEEP_ALIVE=2m
